export MYSQL_USER=root
export MYSQL_DATABASE=relational_database
export MYSQL_PASSWORD=
export MYSQL_ROOT_PASSWORD=
export MYSQL_CONNECTION_STRING="host=localhost;user=root;password=;database=relational_database;"
export MYSQL_VERSION=14.14