.envrc
**/.vscode/
*.txt
*.cache
**/obj/
*.dll
*.editorconfig 
*.razor.json
*.targets
**/net5.0/
appsettings.json
appsettings.Development.json
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.assets.json
**/Properties/